@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 233 20% 10.2%;
    --card: 0 0% 100%;
    --card-foreground: 233 20% 10.2%;
    --popover: 0 0% 100%;
    --popover-foreground: 233 20% 10.2%;
    --primary: 182 100% 39%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 288 84% 54%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 182 100% 39%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 233 20% 11%;
    --foreground: 210 40% 98%;
    --card: 233 20% 16%;
    --card-foreground: 210 40% 98%;
    --popover: 233 20% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 182 100% 74%;
    --primary-foreground: 233 64% 10%;
    --secondary: 233 20% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 233 20% 20%;
    --muted-foreground: 233 20% 65%;
    --accent: 288 84% 54%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 233 20% 20%;
    --input: 233 20% 20%;
    --ring: 182 100% 74%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
